.App {
  text-align: left;
}

.App-header {
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,.15);
  height: 50px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-title {
  font-size: 1.5em;
}

.App-panel {
  padding: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
